
@{
    ViewData["Title"] = "Index2";
}

<h1>Index2</h1>


@{
    Layout = null;
}
<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        Baslik : @ViewBag.Baslik
    </div>
    <div>
        Html Baslik : @ViewBag.HtmlBaslik
    </div>
    <div>
        Html Baslik2 : @ViewBag.HtmlBaslik2
    </div>
</body>
</html>
